# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Web
# dependencies
web/node_modules
web/.pnp
.pnp.js

# testing
web/coverage

# next.js
web/.next/
web/out/

# production
web/build

# misc
web/.DS_Store
web/*.pem

# debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.pnpm-debug.log*

# local env files
web/**.env*.local
config.json

# vercel
.vercel

# src
__pycache__
.pytest_cache
Transactions.csv
new_Transactions.csv
**/transactions.db
**/mock_transactions.db
**/demo_transactions.db

# virtual environment
src/venv